.test-node {
  border: 1px solid lightslategray;
  background-color: #fff;
  border-radius: 7px;
  padding: 10px;
  color: black;
  width: 150px;
  padding: 0;
  overflow: hidden;
  min-height: 80px;
  font-size: 10px;
}

.test-node_header {
  width: 100%;
  background-color: #87cefa;
  padding: 10px;
  color: white;
}

.test-node_body {
  padding: 10px;
}

.desc {
  font-size: 7px;
  margin-top: 2px;
  font-weight: bold;
}
