body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-flow__node .react-flow__handle.connectable {
  border-color: gray;
  background: white;
}

.validationflow .react-flow__handle.connectingto {
  background: lightcoral;
}

.validationflow .react-flow__handle.valid {
  background: lightgreen;
}

.money {
  padding: 20px;
  background-color: white;
  border-bottom: 2px solid #eabe7c;
  border-right: 2px solid #eabe7c;
}
