body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-flow__node .react-flow__handle.connectable {
  border-color: white;
  background: lightseagreen;
}
